@font-face {
  font-family: 'seagull';
  src: url(./Posterama.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #282c34;
  color: #fff;
}

li {
  list-style-type: none;
}

.App {
  display: flex;
}

.logotype {
  font-family: seagull;
}

.nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-device-width: 768px) {
  .logo {
    width: 15vw;
    margin-right: 5vw;
  }
}

@media only screen and (min-device-width: 1024px) {
  .logo {
    width: 8vw;
    margin-right: 1vw;
  }

  .logotype {
    font-size: 3vw;
  }
}

.left-column,
.right-column {
  width: 20vw;
  height: 100vh;
}

.main-column {
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
  width: 60vw;
}

.menu-content {
  width: 70%;
  margin: 0 auto;
  font-family: seagull;
  font-weight: bold;
  font-size: 1.3em;
}

.menu-list li {
  margin-bottom: 1.5vw;
}
